# Tokens
tokens.js
# Old auth data (renamed to settings.json)
auth.json
# New auth data and other settings (plus any variation of settings.test.json etc)
settings.*json

# DS_Store
DS_Store

# node_modules
node_modules
package-lock.json

# Idea IDEs
.idea